@using MvcStok.Models.Entity
@model List<TBLURUNLER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2 class="text-center">Ürünler</h2>

<table class="table table-bordered  table-striped table-hover">
    <tr style="background-color:#41bdbd">
        <th>Ürün Id</th>
        <th>Ürün Ad</th>
        <th>Marka</th>
        <th>Fiyat</th>
        <th>Stok</th>
    </tr>
    <tbody>
        @foreach (var urun in Model)
        {
            <tr>
                <td>@urun.UrunId</td>
                <td>@urun.UrunAd</td>
                <td>@urun.Marka</td>
                <td>@urun.Fiyat</td>
                <td>@urun.Stok</td>
            </tr>
        }
    </tbody>
</table>